body {
     background-color:#F0F4FF;
     color:#85CEFF;
     font-size:16px;
     font-family:arial, sans-serif;
 text-align:center;
 bottom:5;
    
}

p {
    margin:20px;
}

.paragraph1 {
    color:white;
}



.one{
width:50px;
height:50px;
background-color: #CCFF66;
border-radius:100%;
    display: inline-block;
}

.one:hover{
    background-color:orange;
}

a:link{
    color:white;
    text-decoration:none;

}

a:visited{
    color:white;
}

a:hover{
    color:orange;

    
}
.mymarquee{
    bottom:300;
}