.head{
    
color:white;
   
font-size:30px;
font-family:palatino;
 
}


body{
     background-color:#bad5ec;
}


.paragraph1{
     color:white;
}
.paragraph2{
     color:#78bdf0;
}

.paragraph3{
     color:#103cb9;
}